*{
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
}

/*ヘッダー*/
header{
  height: 100px;
  width: 100%;
  background-color: rgb(216, 211, 211);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left{
  color: black;
}

/*メイン*/
.main{
  width:100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*トップ*/
#Top{
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*アバウト*/
#About{
  height: 500px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#About h1:hover{
  border-bottom: solid 20px slategray;
}

#About h1{
  padding: 20px 50px;
  margin: 0 20px;

  font-size: 40px;

  border-bottom: solid 2px slategray;
}

#About .detail{
  padding: 10px 0;
}

#About .content{
  padding: 20px;
}

/*スキル*/

#Skill{
  height: 700px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#Skill h1:hover{
  border-bottom: solid 20px slategray;
}

#Skill h1{
  padding: 20px 50px;
  margin: 0 20px;

  font-size: 40px;

  border-bottom: solid 2px slategray;
}

#Skill .detail{
  display: flex;
  flex-wrap: wrap;
}

#Skill .content{
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.content img{
  height: 50px;
  width: 50px;
}