*{
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Amatic SC', cursive;
}

a{
  color: black;
  text-decoration: none;
}

/*ヘッダー*/
header{
  height: 100px;
  width: 100%;
  background-color: rgb(216, 211, 211);
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
}

.header-left{
  font-size: 30px;
}

.item{
  padding: 15px;
  margin: 5px;
  font-size: 20px;
}

.item span{
  padding-left: 5px;
}

.header-left,.header-right{
  padding: 0 5%;
}

/*メイン*/
.main{
  width:100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*トップ*/
#Top{
  width: 100%;
  height: 800px;

  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*アバウト*/
#About{
  width: 50%;
  height: 700px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title h1{
  border-bottom: solid 2px slategray;
}

.about-title h1:hover{
  border-bottom: solid 20px slategray;
}

.about-title{
  width: 50%;

  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-detail{
  width: 50%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-content{
  padding: 20px;
  width: 150px;
  font-size: 20px;
}

/*スキル*/

#Skill{
  width: 50%;
  height: 700px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-title h1{
  border-bottom: solid 2px slategray;
}

.skill-title h1:hover{
  border-bottom: solid 20px slategray;
}

.skill-title{
  width: 50%;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-detail{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-content{
  width: 60px;
  height: 80px;
  margin: 30px;

  font-size: 20px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-content i{
  height: 50px;
  width: 50px;

  display: block;
}

.skill-content img{
  height: 50px;
  width: 50px;
  padding-bottom: 5px;

  display: block;
}

/*コンタクト*/
#Contact{
  width: 50%;
  height: 700px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-title h1{
  border-bottom: solid 2px slategray;
}

.contact-title h1:hover{
  border-bottom: solid 20px slategray;
}

.contact-title{
  width: 50%;
  font-size: 40px;

  display: flex;
  justify-content: center;
}

.contact-detail{
  width: 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.github-icon::before {
  color: #333;
  font-family: fontawesome;
  content: "\f09b";
  font-size: 3em;
  margin: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.twitter-icon::before {
  color: #00aced;
  font-family: fontawesome;
  content: "\f099";
  font-size: 3em;
  padding: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mail-icon::before{
  color: red;
  font-family: fontawesome;
  content: "\f0e0";
  font-size: 3em;
  padding: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*footer*/
footer{
  width: 100%;
  height: 60px;

  background-color: black;
  color: azure;
  font-style: oblique;
  font-weight: normal;

  display: flex;
  justify-content: center;
  align-items: center;
}