*{
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
}

/*ヘッダー*/
header{
  height: 100px;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left{
  color: black;
}
